<div class="flex flex-col items-center bg-black min-h-screen w-full justify-center">
  <%= image_tag("logo.png", class: "w-52 mb-5") %>
  <div class="mt-5">
    <%= link_to "Login with Spotify", "/auth/spotify", method: :post, class: "bg-[#18D860] text-white p-5 rounded-full" %>
  </div>
</div>
